############################################
# ANGEL BROKER API
############################################
ANGEL_API_KEY=
ANGEL_CLIENT_ID=
ANGEL_PASSWORD=
ANGEL_TOTP=

############################################
# KAFKA
############################################
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_MARKET_TOPIC=pie.market.state
KAFKA_ANALYTICS_TOPIC=pie.analytics.results
KAFKA_TRADE_TOPIC=pie.trade.events

############################################
# REDIS
############################################
REDIS_HOST=localhost
REDIS_PORT=6379

############################################
# POSTGRES
############################################
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pietrader
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

############################################
# TRADING CONFIG
############################################
CAPITAL=200000
RISK_PER_TRADE=1
MAX_DAILY_LOSS=5
MAX_TRADES_PER_DAY=3

############################################
# SYSTEM MODE
############################################
TRADING_MODE=PAPER   # PAPER or LIVE
AUTO_EXECUTION=false
